<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- 读写器ip地址 -->
    <add key="READER_IP" value="192.168.100.244"/>
    <!-- 读写器端口号 -->
    <add key="READER_PORT" value="27011"/>
    <!-- 读写器地址 -->
    <add key="READER_ENUM" value="255"/>
    <!-- 数据上传地址 -->
    <add key="UPLOAD_URL" value="http://192.168.100.104:8069/peacebird/upload_data?db=peacebird_demo"/>
    <!-- 如果当前时间大于标签最后一次读取时间LABLE_OUT_DURATION秒，认为该标签离开。单位：秒 -->
    <add key="LABLE_OUT_DURATION" value="6"/>
    <!-- 标签被读写器读取的最小时间段。单位：秒 -->
    <add key="LABLE_IN_DURATION" value="1"/>
    <!-- 向读写器查询时间的间隔。单位：毫秒 -->
    <add key="SLEEP_TIME" value="500"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
